---
const { id } = Astro.props;
---

<section id={id} class="h-screen flex items-center bg-gradient-to-br from-gray-900 via-slate-900 to-gray-900 relative overflow-hidden">

    <div class="container mx-auto px-6 lg:pl-40 lg:pr-10 py-0">
        <div class="flex flex-col md:flex-row items-center justify-between gap-12">
            <div class="flex-1 space-y-8 text-left">
                <div class="space-y-8">
                    <h1 class="text-5xl lg:text-6xl font-bold text-white leading-tight">
                        Hello
                        <span class="bg-gradient-to-r from-blue-400 via-purple-500 to-blue-500 bg-clip-text text-transparent">.</span>
                    </h1>

                    <div class="flex items-center space-x-4 md:px-10">
                        <div class="h-0.5 w-20 bg-gradient-to-r from-blue-400 via-purple-500 to-blue-500"></div>
                        <h2 class="font-semibold text-2xl lg:text-3xl text-gray-300">
                            I'm Viduni
                        </h2>
                    </div>

                    <div class="flex items-center justify-between">
                        <h1 class="text-4xl lg:text-6xl font-bold text-white">
                            Software Developer
                        </h1>
                    </div>

                    <div class="flex gap-6 pt-10">
                        <a href="/#contactMe">
                            <button class="px-8 py-3 bg-gradient-to-r from-blue-400 via-purple-500 to-blue-500 text-white font-semibold hover:opacity-90 transition duration-300">
                                Contact Me
                            </button>
                        </a>


                        <a href="../../public/Resume.pdf" download="Resume.pdf" class="px-8 py-3 border-2 border-gray-400 text-gray-300 font-semibold hover:border-purple-500 hover:text-purple-500 transition-colors duration-300 flex items-center gap-2">
                            My Resume
                            <svg class="w-5 h-5" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="flex-1 flex sm:justify-center md:justify-end lg:justify-end relative md:pt-6">
                <div class="relative">
                    <img src="../../public/Profile.png" alt="Profile" class="w-screen h-screen object-cover rounded-full relative z-10">
                </div>
            </div>
        </div>
    </div>
</section>